.searches-container {
  margin: 1em;
}

.searches-container h3 {
  text-align: left;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.search-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

.search {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-direction: column;
}

.search div>p {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.75em auto;
}
