@keyframes slideInFromTop {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideOutToTop {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}

.modal {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1000;
  background-color: var(--bg-light);
  color: var(--text);
  width: 25em;
  border: 0.125em solid;
  border-radius: 0.5em;
  padding-bottom: 0.6em;
  box-shadow: var(--shadow);
}

.slide-in {
  animation: slideInFromTop 0.3s ease-out forwards;
}

.slide-out {
  animation: slideOutToTop 0.3s ease-out forwards;
  animation-delay: 1.9s;
}

.modal-progress {
  position: absolute;
  top: 92.5%;
  width: 100%;
  border: 0em solid;
  block-size: 0.5em;
}

.modal-progress::-webkit-progress-bar {
  border-bottom: 0.125em solid;
  background-color: var(--bg-light);
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.modal-progress::-webkit-progress-value {
  background-color: var(--info);
  border-bottom-left-radius: 0.3em;
}

.modal-progress::-moz-progress-bar {
  border-bottom: 0.125em solid;
  background-color: var(--bg-light);
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.info.modal-progress::-webkit-progress-bar {
  border-color: var(--info);
}

.success.modal-progress::-webkit-progress-bar {
  border-color: var(--success);
  /* Specific border color for success state */
}

.error.modal-progress::-webkit-progress-bar {
  border-color: var(--danger);
  /* Specific border color for error state */
}

.info.modal-progress::-webkit-progress-value {
  background-color: var(--info);
}

.info.modal-progress::-moz-progress-bar {
  background-color: var(--info);
}

.success.modal-progress::-webkit-progress-value {
  background-color: var(--success);
}

.success.modal-progress::-moz-progress-bar {
  background-color: var(--success);
}

.error.modal-progress::-webkit-progress-value {
  background-color: var(--danger);
}

.error.modal-progress::-moz-progress-bar {
  background-color: var(--danger);
}

.info {
  border-color: var(--info);
}

.success {
  border-color: var(--success);
}

.error {
  border-color: var(--danger);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content button {
  padding: 0.4em 0.65em;
  margin: 0.5em;
}
