.item-table {
  min-width: 90%;
  background-color: var(--bg);
  border-radius: 1em;
  margin: 1em auto 2em auto;
  padding: 0.5em 1em;
  border: 0.125em solid var(--border-card);
  box-shadow: var(--shadow);
  border-spacing: 0.25em;
}

.item-table th {
  border-bottom: 0.05em solid var(--highlight);
  font-size: 1.25rem;
  text-transform: uppercase;
}

.item-row {
  box-shadow: var(--shadow);
  border-radius: 1em;
  cursor: pointer;
  background-color: var(--bg-light);
}

.item-row td {
  padding: 0.25em 0.5em;
}

.actions-container {
  vertical-align: middle;
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.badge {
  display: inline-block;
  border-radius: 1em;
  padding: 0.05em 1.25em;
  font-size: 0.8em;
  font-weight: bold;
  color: black;
}

.edit-btn {
  color: lightblue;
}

.edit-btn:hover {
  color: lightyellow;
  border-color: lightyellow;
}

.delete-btn {
  color: rgba(255, 0, 0, 0.712);
}

.delete-btn:hover {
  color: rgb(255, 74, 74);
  border-color: rgb(255, 74, 74);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  border-top: 0.1em solid white;
  padding: 0.5em 1em;
}

.footer-content div {
  display: inline-block;
}

.page-control {
  cursor: pointer;
  margin: 0em 0.5em;
}

.page-control:hover {
  color: lightblue;
}

.footer-content button {
  padding: 0;
  margin: 0;
  background-color: inherit;
}

.footer-content button:hover {
  border: none;
  border-radius: 0;
}

.footer-content button:focus,
.footer-content button:focus-visible {
  outline: none;
  border-color: transparent;
}
