#work-container a,
.item-container a,
a.submit-btn {
  border-radius: 0.5em;
  border: 0.1125em solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 1px;
  cursor: pointer;
  transition: border-color 0.25s;
}

.create-bug {
  color: greenyellow;
}

.create-bug:hover {
  color: rgb(205, 253, 133);
  border-color: rgb(205, 253, 133);
}
