.acc-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding: 1em;
  min-width: 100%;
}

.settings-container {
  display: flex;
  gap: 5em;
  justify-content: space-between;
}

.acc-settings {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.search-settings {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
}

.search-settings div {
  padding: 1em;
}

.search-settings-header {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.selected-search-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

.admin-panel-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.admin-panel {
  display: flex;
  gap: 1em;
}

.admin-panel section ul {
  list-style: none;
}

.user {
  display: flex;
  gap: 1em;
  justify-content: center;
}
