.footer {
  font-family: 'Burbank Big Regular Light', Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.footer *:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}