.nav-list {
  list-style: none;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.nav-item {
  padding: 0.25em 0.5em;
}

.nav-item div {
  /* padding: 0.25em 1em; */
}

.nav-item a {
  font: var(--p);
  display: block;
  padding: 0em 1em;
  color: var(--text-muted);
}

.nav-item .active {
  color: var(--text);
  border: var(--border-card);
  border-radius: 0.25em;
  border-color: var(--highlight);
  box-shadow: var(--shadow);
}

.nav-item button {
  padding: 0.25em 1em;
  border-radius: 0.25em;
  border: unset;
  background-color: unset;
  letter-spacing: unset;
  box-shadow: unset;
}

.nav-item button:hover {
  color: var(--primary);
  border-color: unset;
  background: unset;
}

.nav-menu {
  position: absolute;
  top: 105%;
  left: 4%;
  background-color: var(--bg-light);
  border-bottom-left-radius: 0.55em;
  border-bottom-right-radius: 0.55em;
  border: 0.05em solid var(--border);
  z-index: 1;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
}

.nav-menu ul li {
  text-align: center;
  border: 0.05em solid var(--border-muted);
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
}

.nav-item:hover,
.nav-menu ul li:hover {
  border-color: var(--highlight);
}

.notification-badge {
  position: absolute;
  top: -5px;
  /* Adjust as needed to position above the icon */
  right: -5px;
  /* Adjust as needed to position to the right of the icon */
  background-color: var(--warning);
  color: var(--text-muted);
  border-radius: 50%;
  /* Makes it a circle */
  padding: 2px 6px;
  /* Adjust padding for desired size and number centering */
  font-size: 0.6em;
  /* Smaller font size relative to the icon */
  min-width: 0.8em;
  /* Ensures it's always a circle even for single digit */
  text-align: center;
  line-height: 1;
  /* Helps vertically center the number */
  box-shadow: var(--shadow);
  /* Optional: a white border for contrast */
  z-index: 1;
  /* Ensure it appears above the icon if there are overlapping elements */
}

.ntf-menu {
  position: absolute;
  top: 128%;
  left: -465%;
  background-color: var(--bg-light);
  border-bottom-left-radius: 0.55em;
  border-bottom-right-radius: 0.55em;
  border: 0.05em solid var(--border);
  /* border-radius: 0.5em; */
  z-index: 1;
}

.ntf-menu ul {
  list-style: none;
  padding: 0.25em;
  width: 17em;
}

.ntf-menu li {
  margin: 0.125em 0;
  text-align: center;
  padding: 0.2em 0.15em 0.2em;
  border: 0.05em solid grey;
  border-radius: 0.5em;
  color: lightblue;
}

.ntf {
  border: 0.05em solid grey;
}

.ntf:hover {
  border-color: rgb(128, 204, 229);
}

.ntf-unread {
  border-color: red;
}
