#root {
  min-height: inherit;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#content-root {
  padding: 2em 0;
}

.work-container {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.work-container>div:nth-child(1) {
  justify-self: flex-start;
}

.work-container>div:nth-child(2) {
  align-self: flex-start;
  margin-left: 6em;
}

.search-container {
  min-width: 90%;
  margin: 1em;
}

.search-container h1 {
  margin-bottom: 1em;
}

.search-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.item-container {
  width: 95vw;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}
