#root {
  min-height: inherit;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#content-root {
  padding: 2em 0;
}

.work-container {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.search-container {
  max-width: 95vw;
  margin: 1em;
}

.search-container h2 {
  margin-bottom: 1em;
  color: black;
}

.search-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.item-container {
  width: 95vw;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}
