.edit-form h1 {
  margin: 1em;
}

.edit-form {
  width: 60vw;
  /* box-shadow: 0em 0em 1em #615c572f; */
  border-radius: 1em;
}

.edit-form>div {
  display: flex;
  margin: 2em;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.edit-form textarea {
  color: var(--text);
  font-size: 18px;
  box-shadow: 0em 0em 1.5em #615c572f;
  padding: 1em;
  margin-top: 1em;
  border-radius: 0.5em;
  background-color: var(--bg);
}
