.search-input-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input {
  color: var(--text);
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0.1em 0.25em;
}

.input label {
  text-align: start;
  margin-left: 0.5em;
  color: var(--text);
}

.input input,
select {
  padding: 0.4em 0.25em;
  color: var(--text);
  /* background-color: rgba(97, 97, 97, 0.719); */
  background-color: var(--bg-light);
  border: 0em solid;
  border-radius: 0.25em;
}

.btn-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.submit-btn {}

.save-btn {
  color: greenyellow;
}
