.login-form {
  padding: 1em 1.5em;
  border-radius: 1em;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  min-width: 18vw;
  box-shadow: var(--shadow);
}

.login-form button {
  padding: 0.6em;
  min-width: 35%;
}

.login-input {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input input {
  width: 100%;
  padding: 0.25em 0.5em;
}

.error {
  margin-top: 0.25em;
  color: #f44336;
  max-width: 95%;
}
